@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #424242;
}

ul,
ol,
li {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body{
    font-family: Montserrat;
    font-size: 16px;
    color: #424242;
}

img {
    vertical-align: top;
}

[class*="_container"]{
    max-width: 1320px;
    margin: auto;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

.telephone__container{

}

.header__container {
    display: flex;
    align-items: center;
}


.line{
    border: 1px solid rgba(85, 166, 48, 0.5);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__list {
    display: flex;
} 

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    font-size: 16px;
    font-weight: 500;
    /* line-height: 26px; */
}

.right__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faceinst {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}

